.edit-user-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.edit-user-modal label {
  text-align: left;
  font-size: 18px;
  margin-bottom: 10px;
}
.edit-user-modal-body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 400px;
  padding: 30px;
  max-width: 700px;
  flex-grow: 1;
  background-color: rgb(255, 203, 139);
  display: flex;
  flex-direction: column;
  outline: none;
  border-radius: 15px;
}

.edit-user-title {
  margin: 20px;
  text-align: center;
}

.edit-user-form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.edit-user-input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 18px;
  padding: 10px;
}

.edit-user-select {
  width: 100%;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 16px;
}
.edit-user-select option {
  height: 50px;
}
.edit-user-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.edit-user-button {
  margin-right: 20px;
}
.edit-user-button,
.edit-user-close {
  background-color: darkgray;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 5px 20px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
