.user-card-edit {
  min-width: 300px;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  margin: 0 15px 15px 0;
}
.user-card-edit-info span {
  font-size: 16px;
  font-weight: normal;
}
.user-card-edit-info {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  font-weight: 900;
  margin-bottom: 15px;
}
.user-card-edit div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.edit-button {
  margin-right: 20px;
}
.edit-button,
.delete-button {
  background-color: darkgray;
  border-radius: 10px;
  border: none;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}

