.menu {
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
}
.menu-link {
  font-size: 26px;
  text-decoration: none;
  color: #1c1d21;
  font-weight: 900;
  background-color: rgb(255, 199, 95);
  padding: 10px 20px;
  border-radius: 22px;
}
.menu-link:hover {
  background-color: rgb(255, 123, 0);
}
