.login-page {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}
.login-container {
  border-radius: 15px;
  padding: 20px;
  max-width: 600px;
  height: 300px;
  background-color: bisque;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  outline: none;
}

.login-title {
  margin: 30px;
  text-align: center;
}

.login-form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.login-input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 10px;
}
.login-button {
  background-color: gray;
  color: #fff;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 5px 20px;
  font-size: 20px;
  cursor: pointer;
}
.login-button:hover {
  background-color:olive;
}
