.user-card {
  background-color: bisque;
  display: flex;
  padding: 15px;
  border-radius: 10px;
  width: 600px;
  margin-bottom: 20px;
}
.avatar {
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin-right: 30px;
  flex-shrink: 0;
  border-radius: 50%;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.user-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.username {
  margin: 20px;
  font-size: 24px;
}
.user-info div {
  font-weight: 900;
}
.user-info span {
  font-size: 20px;
  font-weight: 500;
}
